<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Marvelous.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MarvelousLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MarvelousOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03C81A5018F497BD00D84C0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C81A8818F4BC4C00D84C0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C81A9D18F4BC4C00D84C0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03DEC83B18E736730098CCE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03DEC84B18E736740098CCE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
